{% extends 'base.html.twig' %}
{% block contenido %}
    <div class="row">
        <div class="col s8 offset-s2 ">
            <h3>Listado de paises</h3>
        </div>
        <div class="col s8 offset-s2">
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pais in avPais %}
                        <tr>
                           <td>{{ pais.nombre }}</td>
                            <td>
                                <a href="{{ path('avpais_edit', { 'id': pais.id }) }}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s4">
            <a class="waves-effect waves-light btn-large teal lighten-1" href="{{ path('avciudad_index') }}"><i class="material-icons left">arrow_back</i>Volver</a>      
        </div>          
    </div>
{% endblock %}
